<div class="container">
    <% @mylists.each do |mylist| %>
        <iframe allow="autoplay *; encrypted-media *; fullscreen *" frameborder="0" height="150" style="width:100%;max-width:660px;overflow:hidden;background:transparent;" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-storage-access-by-user-activation allow-top-navigation-by-user-activation" src="https://embed.music.apple.com/jp/album/%E7%82%8E/<%= mylist.collection_id %>?i=<%= mylist.track_id %>"></iframe>
    <% end %>
</div>