<div class="container">
	<h1>このアプリでできること……</h1>
	<h2>１．自分と好きなアーティストが同じユーザーを見つけられる</h2>
	<p>こんな悩みはありませんか？？<br>
	   ライブに行きたいけど周りに好みの合う友達がいない…！</p><br><br>

	<h2>もう悩むことはありません！！</h2>
	<p>検索機能により、自分と同じアーティストを登録しているユーザーを見つけてフォローできます！</p>

	<h2>２．好きなアーティストを登録して見つけてもらおう</h2>
	<p>ご自身の好きなアーティストを登録できます</p>

	<h2>３．自分の好きな曲を登録しよう</h2>
	<p>好きな曲をmylistに追加して、フォロワーに好きな曲を知ってもらおう</p>

	<h2>４．試聴機能</h2>
	<p>アプリ内でサンプルを再生できるので、おすすめされた曲をその場で聞くことができます！</p>
	<p><b>音量が大変大きく設定されているので、最初はデバイスの音量を最低にしてご利用ください…！！mm</b></p>
</div>