// Place all the styles related to the end_users/tracks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pagination {
	text-color: white;
}
.pagination-btn {
	margin: 0 auto;
}

.paginate span {
	font: italic small-caps bold 16px/2 cursive;
}

